.programs {
    position: relative;
    margin-top: -30px;
    width: 100%;
    background-image: url('../../../public/assets/icons/bgFlower.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    &-wrapper {
        padding-top: 40px;
        flex-wrap: wrap-reverse;
        padding-bottom: 150px;

        @include small() {
            padding-bottom: 150px;
            flex-wrap: wrap-reverse;
        }

        @include medium() {
            padding-bottom: 120px;
        }

        &-info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;

            @include small() {
                flex-wrap: wrap;
            }

            @include medium() {
                flex-wrap: nowrap;
            }

            &-img {
                height: 340px;
                width: 100%;
                margin-top: 20px;
                border-radius: 5px;

                @include small() {
                    height: 300px;
                    width: 100%;
                }

                @include medium() {
                    height: 400px;
                    width: 400px;
                }
            }
        }

        &-title {
            font-size: 25px;
            font-family: $font-lora;
            white-space: pre;
            font-weight: bold;

            @include small() {
                font-size: 25px;
            }

            @include medium() {
                font-size: 50px;
            }
        }

        &-desc {
            font-size: 15px;
            margin: 20px 0px;
            width: 100%;
            line-height: 40px;
            text-align: center;
            font-family: $font-prata;
            font-weight: lighter;

            @include small() {
                font-size: 15px;
                width: 100%;
                text-align: center;
            }

            @include medium() {
                font-size: 18px;
                width: 80%;
                text-align: start;
                margin: 20px 40px;

            }
        }

        &-button {
            // padding: 10px;
            background: $main-red;
            width: 50%;
            text-align: center;
            border-radius: 10px;
            margin-top: 20px;
            align-self: flex-end;
            color: #fff;
            font-weight: bolder;
            cursor: pointer;
            font-size: 12px;
            margin-bottom: 40px;

            @include small() {
                width: 40%;
                padding: 10px;
                font-size: 12px;
            }

            @include medium() {
                width: 20%;
                padding: 5px;
                font-size: 15px;
                font-weight: bolder;
            }
        }

        &-schedule {
            margin-top: 30px;
            display: grid;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            text-align: center;

            @include small() {
                display: grid;
            }

            @include medium() {
                display: flex;
            }

            &-card {
                width: 100%;
                // background: red;
                // align-items: center;
                // text-align: center;

                @include small() {
                    width: 30%;
                }

                @include medium() {
                    width: 30%;
                }

                &-title {
                    font-size: 30px;
                    font-family: $font-prata;
                    font-weight: 100;
                    margin-bottom: 15px;
                }

                &-days {
                    font-size: 15px;
                    font-family: $font-prata;
                    font-weight: 100;
                    margin-bottom: 10px;
                }

                &-desc {
                    font-size: 15px;
                    font-family: $font-prata;
                    line-height: 35px;
                    font-weight: 100;
                    margin-bottom: 15px;
                    margin-top: 20px;
                }

                &-detail {
                    font-size: 15px;
                    font-family: $font-prata;
                    line-height: 35px;
                    cursor: pointer;
                    font-weight: 100;
                    margin-bottom: 15px;
                    margin-top: 20px;
                    color: #f44343;
                    text-decoration: underline;
                }
            }

            &-button {
                padding: 10px;
                background: $main-red;
                width: auto;
                text-align: center;
                border-radius: 10px;
                margin-top: 30px;
                align-self: flex-end;
                color: #fff;
                font-weight: bolder;
                cursor: pointer;
                font-size: 12px;
                margin-bottom: 100px;
                align-self: center;

                @include small() {
                    width: auto;
                    padding: 10px;
                    font-size: 12px;
                }

                @include medium() {
                    width: auto;
                    padding: 10px;
                    font-size: 15px;
                }
            }

        }
    }
}