.newsletter {
  background-color: $background-grey;
  padding: 15px 0;
  margin-bottom: 15px;

  @include large() {
    padding: 30px 0;
  }

  &__title {
    font-family: $font-prata;
    font-size: 28px;
    line-height: 16px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  &__info-update {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: row;
  }

  &__input-email {
    border: none;
    padding: 15px 0 15px 20px;
    width: 100%;
    border-radius: 8px;
  }

  &__submit-form {
    border: none;
    padding: 15px 40px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 8px;
    margin-left: 10px;
    color: $text-white;
    background-color: $primary-color;
    font-weight: bold;
  }
}